aclocal.m4
autom4te.cache/
configure
config.log
config.status
depcomp
install-sh
missing
Makefile
Makefile.in
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in*
src/*.o
src/bbfs
src/.deps/
src/stamp-h1
